<app-nav-bar></app-nav-bar>
<div class="container-fluid landing wow fadeIn" data-wow-duration="2s">
  <div class="row first-row">
    <div class="col-lg-2"></div>
    <div class="col-lg-5 my-auto">
      <div class="welcome-left">
        <h5>Bienvenido a la App! </h5>
        <br>
        <p>Aprende acerca de tus temas de interés en una manera divertida.</p>
        <a class="btn btn-lg call-for-action" href="login.html">Ingresa </a>
      </div>
    </div>
    <div class="col-lg-3 my-auto">
      <div class="welcome-right">
        <img src="assets/images/undraw_buffer.svg" alt="home image">
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row second-row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4 features-image">
      <img src="assets/images/wall-post.svg" alt="wall-post">
    </div>
    <div class="col-lg-4 features-text">
      <div class="wrapper-icon wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
        <div class="icon"><i class="fas fa-pencil-alt"></i></div>
        <div class="description">
          <div class="title">Personaliza</div>
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci unde eius
            recusandae odio similique nesciunt laudantium distinctio ut omnis sed porro.</div>
        </div>
      </div>
      <div class="wrapper-icon wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
        <div class="icon"><i class="fas fa-pencil-alt"></i></div>
        <div class="description">
          <div class="title">Información actual</div>
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci unde eius
            recusandae odio similique nesciunt laudantium distinctio ut omnis sed porro.</div>
        </div>
      </div>
      <div class="wrapper-icon wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
        <div class="icon"><i class="fas fa-pencil-alt"></i></div>
        <div class="description">
          <div class="title">Aprende desde donde sea</div>
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci unde eius
            recusandae odio similique nesciunt laudantium distinctio ut omnis sed porro.</div>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row third-row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <app-carousel></app-carousel>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>