<app-nav-bar></app-nav-bar>
<div class="container-fluid landing wow fadeIn" data-wow-duration="2s">
  <div class="row first-row">
    <div class="col-lg-2"></div>
    <div class="col-lg-5 my-auto">
      <div class="welcome-left">
        <h5>{{'landing.Title'|translate}}</h5>
        <br>
        <p>{{'landing.Subtitle'|translate}}</p>
        <a class="btn btn-lg call-for-action" href="login.html">{{'landing.CallToAction'|translate}}</a>
      </div>
    </div>
    <div class="col-lg-3 my-auto">
      <div class="welcome-right">
        <img src="assets/images/undraw_buffer.svg" alt="home image">
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row third-row wrapper-icon wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <app-pet-creator></app-pet-creator>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>