<app-nav-dashboard></app-nav-dashboard>
<section class="topics">

  <div class="content">
    <div class="search-bar">
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fas fa-search"></i></span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-lg" placeholder="Educación, Cultura, Deportes..." />
      </div>
    </div>
    <div class="section">
        <div class="title news">Noticias</div>
        <div class="card-deck">
          <div class="card" *ngFor="let topic of newsTopics; let i = index;">
            <img src={{topic.image}} class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title"> <strong>{{topic.title}}</strong> </h5>
              <p class="card-text">
                {{topic.description}}
              </p>
            </div>
            <button type="button" class="btn btn-danger" (click)="deleteTopic(i)">Eliminar</button>

          </div>
        </div>
      </div>
      <div class="section">
        <div class="title education">Educación</div>
        <div class="card-deck">
          <div class="card" *ngFor="let topic of topics; let i = index;">
            <img src={{topic.image}} class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title"> <strong>{{topic.title}}</strong> </h5>
              <p class="card-text">
                {{topic.description}}
              </p>
            </div>
            <button type="button" class="btn btn-danger" (click)="deleteTopic(i)">Eliminar</button>

          </div>
        </div>
      </div>
  </div>
</section>